ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #707070;
}

li {
    float: left;
}

li p {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0px;
}

/* Change the link color to #111 (black) on hover */
li p:hover, .navElementActive {
    background-color: #111;
}

body {
    padding: 0px;
    margin: 0px;
}